.logos {
    overflow: hidden;
}


@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos-slide {
    animation: 20s slide infinite linear;

}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide > div {
    padding: 0 1rem;
}