.logos {
    overflow: hidden;
}


@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logos-slide {
    animation: 15s slide infinite linear;
}

.icon-rotate {
    animation: 10s rotate infinite linear;
}

/* .logos:hover .logos-slide{
    animation-play-state: paused;
} */
