.nav-icons {
    /* color: #fff; */
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
}

.nav-icons:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    /* color: #e31b6d; */
}

nav {
    backdrop-filter: blur(15px);
}

.active {
    background: none;
    color: #fff;
}

